.text-left {
	text-align: left;
	text-align: start;
}
.text-right {
	text-align: right;
	text-align: end;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.hidden {
	display: none !important;
}

@for $i from 1 through 12 {
	.shadow-#{$i} {
		@include shadow($i);
	}
}
